<nav>
  <button class="btn btn-primary" routerLink="/home">home</button>
  <button class="btn btn-primary" routerLink="/contact">Contact</button>
  <button class="btn btn-primary" routerLink="/product/one">product 1</button>
  <button class="btn btn-primary" routerLink="/product/two">Product 2</button>
  <button class="btn btn-primary" routerLink="/parent">Parent</button>
  <button class="btn btn-primary" routerLink="/one">One</button>
  <button class="btn btn-success" routerLink="/two">two</button>
  <button class="btn btn-primary" routerLink="/template-forms">Template</button>
  <button class="btn btn-danger" routerLink="/reactive-forms">Reactive</button>
    <button mat-raised-button>Akash</button>
</nav>
