<h1>parent works!</h1>
<button (click)="onStateChange()">Toggle visibility</button>
<input type="text" [(ngModel)]="originalValue">
<app-child [parentValue]="originalValue" *ngIf="isPresent" [birds]="birds">
  <p #projectedContent>this is the content projected from the parent component</p>
</app-child>
<br> =================<br>
<label for="isFlyable">is Flyable</label>
<input type="checkbox" id="isFlyable" [(ngModel)]="flyable">
<input type="text" [(ngModel)]="name" placeholder="Enter Name of the bird">
<button class="btn btn-primary" (click)="onAdd()">Add Bird</button>


<select name="subscription" id="subscription" [(ngModel)]="isSubscribed">
  <option [ngValue]="true">Yes</option>
  <option [ngValue]="false">No</option>
</select>

<div *ngIf="flyable">
  <h4>You selected Flyable birds</h4>
</div>
<div *ngIf="!flyable">
  <h4>You selected Non-Flyable birds</h4>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-xs-6">
     <h1> all birds list</h1>
      <div *ngFor="let bird of birds">
        {{bird.name}}-{{bird.flyable}}
      </div>
    </div>
    <div class="col-md-6 col-xs-6">
      <h1> Flyable birds list</h1>
      <div *ngFor="let bird of birds|birdsFlyable">
        {{bird.name}}-{{bird.flyable}}
      </div>
    </div>
  </div>
</div>
